@model TwoFactorLoginDto
@{
    ViewData["Title"] = "Validación en dos pasos";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h4>@ViewData["Title"]</h4>
<div>
    <ul class="list">
        <li>
            <p>
                Ingrese el codigo de validación.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post" asp-action="LoginTwoFactor">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Código</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <input asp-for="Username" hidden />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary m-2">Validar</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}