@model librarwebapp.Models.ExternalServices.Suscriptions.CrearSuscripcionDTO

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear suscripcion</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" />
            <div class="form-group">
                <label for="fechaCreacion" class="col-form-label">Fecha inicio</label>
                <input id="fechaCreacion" class="form-control" type="text" value="@DateTime.Now.Date.ToLongDateString()" aria-label="Disabled input example" disabled>
            </div>
            <div class="form-group">
                <label for="periodoMeses" class="form-label">Periodo en meses</label>
                <input asp-for="PeriodoMeses" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="fechaCreacion" class="col-form-label">Precio mensual</label>
                <input id="fechaCreacion" class="form-control" type="text" value="@Model.PrecioPorMes" aria-label="Disabled input example" disabled>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Volver</a>
</div>

